asgiref==3.11.1
-e git+ssh://git@github.com/dapt4/ecommerce-django-drf-postgres-vue.git@9c0b01d3d8f10e313c51951c101885a8b5f86fa6#egg=backend_django&subdirectory=backend_django
Django==5.2.11
django-cors-headers==4.3.0
djangorestframework==3.16.1
greenlet==3.3.1
msgpack==1.1.2
psycopg2-binary==2.9.11
pynvim==0.4.3
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
